.DS_Store
node_modules/
dist/
.vscode/
.DS_Store?

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
*.pyc.*

# Virtual environment
venv/

# Chroma DB
*.sqlite3
*.bin
*.pickle

# Firebase service account key
serviceAccountKey.json

# Jupyter
.ipynb_checkpoints/

# AWS / SageMaker local config
.aws/
