# Django
django
djangorestframework
django-cors-headers

# LangChain + RAG
langchain
langchain-community
langchain-chroma
langchain-huggingface
langgraph
chromadb

# Models/embeddings
transformers
sentence-transformers
torch
numpy

# Google Gemini
google-generativeai
langchain-google-genai

# Document loaders
python-docx
pypdf

# Firebase
firebase-admin


