# Django
django
djangorestframework
django-cors-headers
uWSGI==2.0.25.1; sys_platform == "linux" and python_version < "3.13"

# LangChain + RAG
langchain==0.2.14
langchain-core==0.2.43
langchain-community==0.2.12
langchain-chroma==0.1.4
langchain-huggingface
langgraph
chromadb==0.5.3

# Models/embeddings
transformers==4.45.2
sentence-transformers==2.7.0
torch==2.9.0
numpy

# Google Gemini
google-generativeai
langchain-google-genai==1.0.10

# Document loaders
python-docx
pypdf

# Firebase
firebase-admin


